/*

header{
    background-color: #191C41;
}
body{
    background-color:#081023 ;
}

#homehello{
    position: relative;
    font-family:Tauri;
    font-size: 56px;
    color: #BBBEC0;
    margin-left: 550px;
    margin-top: 90px;
}
#homei{
    position: absolute;
    font-family: Arial;
    font-size: 32px;
    color: #FFFFFF;
    margin-left: 700px;
    margin-top: -98px;
}
#homename{
    position: absolute;
    font-family:"Bauhaus 93";
    font-size: 76px;
    color: #E5E6F9;
    margin-left: 550px;
    margin-top: -45px;
}
#homennext{
    position: absolute;
    font-family:Arial;
    font-size: 24px;
    color: #646666;
    margin-left: 560px;
    margin-top: 90px;
}
!*   #homelist{
       position: absolute;
       font-family:Tauri;
       font-size: 24px;
       color: #BBBEC0;
       margin-left: 440px;
       margin-top: 80px;
   }*!
body>main>section:nth-child(1)>div>ul>li:nth-child(1){
    position: absolute;
    font-family:Tauri;
    font-size: 24px;
    color: #BBBEC0;
    margin-left: 600px;
    margin-top: 140px;
}
body>main>section:nth-child(1)>div>ul>li:nth-child(2){
    position: absolute;
    font-family:Tauri;
    font-size: 24px;
    color: #BBBEC0;
    margin-left: 600px;
    margin-top: 220px;
}
body>main>section:nth-child(1)>div>ul>li:nth-child(3){
    position: absolute;
    font-family:Tauri;
    font-size: 24px;
    color: #BBBEC0;
    margin-left: 600px;
    margin-top:300px;
}
body>main>section:nth-child(1){

    height:630px;
}

#imagehome1{
    margin-top:-95px;
    margin-left:20px;

    color-adjust: inherit;
}
#codeimg{
    margin-top:-580px;
    margin-left:330px;
    opacity: 20%;
}
#headername{
    margin-left: 20px;
    font-size: 20px;
    color: #E5E6F9;
    margin-top: 10px;
}
header{
    height: 40px;
}
!* github 1 *!

#fb{
    margin-left:180px;
    position:absolute ;
    margin-top:-365px;

}
#insta{
    margin-left:243px;
    position:absolute ;
    margin-top:-365px;

}
#git{
    margin-left:310px;
    position:absolute ;
    margin-top:-363px;

}
.aboutme{
    background-color: #040518;

}
.abouttxt {
    font-size:24px;
    margin-left: 230px;
}
#aboutmehead{
    font-size:39px ;
    color: #E5E6F9;
    font-family:"Bauhaus 93";
    margin-left: 30px;

}
#abouttxt1{
    position: absolute;
    color:#FFFFFF ;
    font-size: 38px;
    margin-left:135px;
    margin-top: -18px;
    font-family: Arial;
}
#lifetag{
    color:#FFFFFF;
    font-family: Arial;
    font-size: 18px;
    margin-left:135px;
    margin-top: 40px;
}
#lifetagquote1{
    color:#FFFFFF;
    margin-left:240px;
    font-family: Arial;
    font-size: 18px;
    margin-top:25px;
}
#lifetagquote2{
    color:#FFFFFF;
    margin-left:240px;
    font-family: Arial;
    font-size: 18px;
    margin-top:30px;
}
#aboutpic{
    margin-left: 970px;
    margin-top: -400px;
    opacity: 80%;
}
#aboutbtn{
    background-color:#0B5E20 ;
    color: #E5E6F9;
    font-size:38px ;
    font-family:"Berlin Sans FB";
    border-left-style: groove;
    margin-left: 1090px;
    margin-top: 10px;
}
#aboutfb{
    position: absolute;
    margin-top:80px;
    margin-left: -200px;
}
#aboutinsta{
    position: absolute;
    margin-top:80px;
    margin-left:  -133px;
}
#aboutgit{
    position: absolute;
    margin-top:80px;
    margin-left: -67px;
}
*/
